.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#title-text{
    color: darkblue;
    font-size: 50px;
}

.content-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.arrow-img-container{
    padding-top: 130px;
}


/* @media screen and(max-width: 1000px){
    .content-container{
        flex-direction: column;
    }
} */